*{
    padding: 0;margin: 0;box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
}
header{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    position: absolute;
    z-index:9999;
    top: 0;
    /* right: 0; */
    width: 100%;
    /* background-color: blue; */
    padding: 2rem 1rem;
}
img{
    width: 100%;
    height: 70px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
a:hover{
    color: #ff4d30;
}
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button{
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #ff4d30;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 25px;
}
span{
    color: #ff4d30;
}
.section1{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 1rem ;
    font-size: 32px;
}
.diva{
    display: flex;
    /* flex-wrap: wrap; */
    width: 40%;
    background-color: #f8f8f8;
    flex-direction: column;
    gap: 30px;
}
.divaa{
    padding-top: 10rem;
}
p{
    font-size: 15px;
color: grey;
}
.h11{
    font-size: 20px;
}
.button2{
background-color: black;
display: flex;
gap: 10px;
cursor: pointer;
align-items: center;
align-items: center;
color: aliceblue;
}
.button2:hover{
background-color: bisque;
color: black;
border: solid;
}
.button1{
    background-color:#ff4d30;
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    /* align-items: center; */
    color: aliceblue;
    }
.divaaaa{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;
}
.divb{
    background: url(https://car-rental-ten.vercel.app/static/media/hero-bg.3b5f7a2502f0f81d1490.png);
    background-position: center;
    border-radius: 5%;
    box-sizing: border-box;
    width: 60%;
    
}
.imgg{
    padding-top: 10rem;
    height: 100%;
    width: 100%;

}
.section2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
padding: 60px;
/* margin-left: 4rem; */
margin-top: 70px;
gap: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background:white ;
    width: 80%;

}
.divc{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.divd{
    display: flex;
    /* flex-direction: ; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 20px; */
}
select{
    padding: 10px 50px;
    margin-top: 20px;
}
input{
padding: 10px 50px;

}
label{
    padding: 10px;
    font-size: 18px;
}
.btn{
    display: flex;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px 80px;
    cursor: pointer;
    color: rgb(233, 227, 227);
    margin-top: 40px;
    margin-left: 40px;
}
i{
    margin-right: 10px;
    color: #ff4d30;
    animation:spin 8s linear infinite;
}
i:hover{

}
.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 40px;
    padding: 50px 50px;
}
h2{
    font-size: 20px;
}
.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.pro{
    object-fit: none;
    margin-top: 20px;
    
}
.a{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.divx{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e9e9e9;
    width: 200px;
height: 50px;
}
.divx:hover{
background: #ff4d30;
}
.divxx{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.divxx h1{
    font-size: 18px;
}
.divy{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ff4d30 ;
    width: 200px;
height: 50px;
}
.car{
    width: 100%;
    height: 100%;
    /* margin-right: 150px; */
}
.section44{
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    /* justify-content: space-between; */
    /* background-color: aqua; */
    
}
.section4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 200px;
}
.dix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#e9e9e9;
    width: 200px;
height: 50px;
}
.dixx{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.diy{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ff4d30 ;
    width: 200px;
height: 50px;
}
.dixx h1{
    font-size: 18px;}
.section5{
    width: 100%;
    margin-top: 200px; 
    height: 15rem;
display: flex;
color: #e9e9e9;
justify-content: center;
align-items: center;
    background-color:#2d2d2d;
}
.container h1{
    font-size: 50px;
}
.container h2{
    margin-left: 100px;
    
}
.section6{
    margin-top: 200px;
}
.section6 img{
    margin-top: 10px;
    width: 100%;
    object-fit: contain;
    height: 30rem;
    
}
.section7{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 100px;
    padding: 20px 40px;

}
.con1{
    width: 50%;
    /* display: flex; */
    flex-direction: column;
    gap: 30px;


}
.con2{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.con2 img{
    object-fit: none;
}
.con1 h2{
    margin-bottom:20px ;
}
.con1 h1{
    font-size: 50px;
}
.con1 button{
margin-top: 40px;
}

/* responsive */
@media(max-width:768px){
    .divb{
        display: none;
    }
    a{
        display: none;
       
    }
    header{
        margin-top: 50px;
    }
    .diva{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 60px;
        background-color:gray;
       
    }
    .diva p{
        color: #e9e9e9;
    }
    .section1{
        padding: 30px 5px;
    }
.btn{
    margin-top: 50px;
}
.section44{
    display: flex;
    gap: 20px;
    padding: 40px;
}
.section44 p{
    margin-top: 20px;
    font-size: 15px;
}
.section44 img{
    margin-bottom: 100px;
}
.section7 h1{
    font-size: 25px;
}
.section7 h2{
    font: size 20px;
    margin-top: 40px;
}
.section7{
    padding: 60px;
}
.section5{
    padding: 30px;
    /* margin-top: 5px;/ */
}
.section5 h1{
    font-size: 30px;
    padding: 20px 20px;
}
.section5 h2{
    margin-bottom: 30px;
    margin-left: 20px;
}















}

/* responsivedisplay */
 @media(max-width:450px){
    header button{
       /* display: none; */
    } 
     header{
        padding: -20rem;
     }  
     .button1{
padding: 10px 90px;
     }
     .button2{
        padding: 10px 80px;
     }
    a{
        display: none;
       
    }
    img{
        margin-right: 50px;
        width: 50%;
        height: 50%;
    }
    .section1 p{
        color: #ff4d30;
    }
    .section1 h1{
        font-size: 20px;
    }
    .imgg{
        display: none;
    }
    .divb{
        display: none;
    }
.diva{
    width: 100vw;
    padding: 30px;
    background-color:wheat;
   
}
.section2{
    display: flex;
    justify-content: start;
    align-items: start;
margin-top: 10rem;
margin-left: 0px;
}
.divc{
    display: flex;
    margin-right: 20px;
    gap: 30px;
    padding: 0px;
}
select{
    padding: 10px 25px;
}
input{
    padding: -90px;
}
.divd{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.btn{
    margin-top: 40px;
    padding: 10px 50px;
}
.section44{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 80px;
    padding: 10px;
}
.section4{
    padding: 40px;
}
.section5{
    padding: 30px;
    /* margin-top: 5px;/ */
}
.section5 h1{
    font-size: 30px;
    padding: 20px 20px;
}
.section5 h2{
    margin-bottom: 30px;
    margin-left: 20px;
}
.section6{
    margin-top: 50px;
}
.con2{
    display: flex;
    gap: 5px;
}
.section7{
    display: flex;
    gap: 34px;
    
}
.section7 h1{
    font-size: 25px;
}
.section7 p{
    font-size: 10px;
}
.section7 h2{
    font: size 20px;
    margin-top: 40px;
}
.con2 img{
    margin-top: 5px;
    height: 20px;
    width: 20%;
    object-fit: cover;
}

















 }
















































